<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="inline field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :active, class: "inline" %>
    <%= form.check_box :active, {checked: true} %>
  </div>


  <%= form.label :availability %>

  <table>
    <tr>
      <td></td>
      <td>Start:</td>
      <td>End:</td>
    </tr>
    <% days = %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday] %>
    <% days.each do |day| %>
      <tr>
        <td><%= form.label "availability[#{day}]", day %></td>
        <td><%= form.time_field  "availability[#{day}][start]" %></td>
        <td><%= form.time_field  "availability[#{day}][end]" %></td>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
