<h1>Employees</h1>

<%= form_tag employees_path, :method => 'get' do %>
  <%= label_tag(:query, "Search by Employee Name: ") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "search" %>
<% end %>

<br />

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.first_name, employee %></td>
        <td><%= link_to employee.last_name, employee %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
