<% time = eval(@employee.availability) %>

<table>
  <tr>
    <th>Availability</th>
  </tr>

  <!-- $days variable location: models/concerns/filter.rb -->
  <% $days.each do |day| %>
    <tr>
      <td><%= "#{day.camelcase}:" %></td>
      <td><%= time_field_tag("time[#{day}][start]", time[day]["start"], :disabled => true) %></td>
      <td><%= time_field_tag("time[#{day}][end]", time[day]["end"], :disabled => true) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Delete', @employee, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', employees_path %> |
<%= link_to 'Add New Employee', new_employee_path %>