<%= javascript_pack_tag 'static_calendar', 'data-turbolinks-track': 'reload' %>

<br/>
<span id='login'>
  <div id='login-left'>

    <h1>Log in</h1>
    <br />

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
    <br />
  </div>

  <div id='login-right'>
    <div id='static_calendar'></div>
    <br />
    <%= form_tag '', method: 'get' do %>
        <%= label_tag(:query, "Enter calendar ID: ") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "search" %>
    <% end %>
  </div>
</span>