<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% shift.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<!--  Hide form if there are no employees, no roles, or error messages -->
  <% no_employees = @employees.nil? || @employees.length ==0 || shift.errors.any? %>
  <% no_roles = @roles.nil? || @roles.length ==0 %>
  <% no_errors = shift.errors.blank? %>

  <% if (no_employees || no_roles) && no_errors %>
    <% if no_employees %>
      <p class="alert">
        You must have at least one employee to create a shift. <br />
        <%= link_to "Add an Employee", new_employee_path %>
      </p>
    <% end %>

    <% if no_roles %>
      <p class="alert">
        You must have at least one role to create a shift. <br />
        <%= link_to "Add a Role", new_role_path %>
      </p>
    <% end %>
  <% else %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <div class="field">
      <%= form.label :start %>
      <%= form.time_field :start %>
    </div>

    <div class="field">
      <%= form.label :end %>
      <%= form.time_field :end %>
    </div>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :employee %>
      <%= form.select :employee_id, @employees.map {|e| ["#{e.first_name} #{e.last_name}", e.id]}, {prompt: "Select"} unless @employees.nil? %>
    </div>

    <div class="field">
      <%= form.label :role %>
      <%= form.select :role_id, @roles.map {|role| [role.name, role.id]}, {prompt: "Select"} unless @roles.nil? %>
    </div>

    <br />

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<script>
  if (sessionStorage.getItem("newShift")) {

      document.getElementById('shift_date').value = sessionStorage.getItem("date");
      document.getElementById('shift_start').value = sessionStorage.getItem("start");
      document.getElementById('shift_end').value = sessionStorage.getItem("end");

      sessionStorage.removeItem("newShift");
      sessionStorage.removeItem("date");
      sessionStorage.removeItem("start");
      sessionStorage.removeItem("end");
  }



</script>