<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field hidden">
    <%= form.label :priority %>
    <% @role.priority.nil? ? @role.priority = @next_priority : '' %>
    <%= form.number_field :priority %>
  </div>

  <br />

  <div class="field">
    <h3><%= form.label :employee_id, "Assign Employees" %></h3>
    <%= form.collection_check_boxes :employee_ids, @employees, :id, :first_name do |role| %>
      <%= role.check_box %>
      <%= role.object.first_name %>
      <%= role.object.last_name %>
      <br />
    <% end %>
  </div>

  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
