<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @role.priority %>
</p>

<p>
  <strong>Employees:</strong>
  <ul>
    <% @role.employees.each do |employee| %>
      <li><%= employee.first_name %> <%= employee.last_name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
