<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Employees:</strong>
  <ul>
    <% @role.employees.each do |employee| %>
      <li><%= employee.first_name %> <%= employee.last_name %></li>
    <% end %>
  </ul>
</p>

<% delete_warning = "Are you sure?\n\nAny shifts associated with this role will be removed." %>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Delete', @role, method: :delete, data: { confirm: delete_warning } %> |
<%= link_to 'Back to Roles', roles_path %> |
<%= link_to 'Add New Role', new_role_path %>