<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>
      <div id='header'> 
        <%= link_to image_tag("icons/circle_question.png", options={id: 'icon'}), "welcome" %>
        <%= current_user ? current_user.company_name : nil %>
        <%= current_user ? (link_to image_tag("icons/cogwheel.png", options={id: 'icon'}), users_edit_path(@user)) : 'Please Log In' %>
      </div>
      <%= render "layouts/menu" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id='yield'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
