<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>

      <% if current_user %>
        <div id='header'>
          <span id="username"><%= current_user.name %></span>
          <%= link_to image_tag("icons/circle_question.png", {class: 'icon', id: 'welcome'}), root_path %>
          <%= link_to image_tag("icons/cogwheel.png", {class: 'icon', id: 'options'}), users_edit_path(@user) %>
          <%= link_to "logout", destroy_user_session_path, method: :delete, id: "logout" %>
        </div>

        <div id='menubar'>
          <%= render "layouts/menu" %>
        </div>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id='yield'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
