<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id='container'>
      <div id='header'>
          <% if current_user %>
            <%= link_to image_tag("icons/circle_question.png", options={class: 'icon', id: 'welcome'}), root_path %>
            <%= link_to image_tag("icons/cogwheel.png", options={class: 'icon', id: 'options'}), users_edit_path(@user) %>

            <%= current_user.company_name %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
          <% end %>
      </div>

      <div id='menubar'>
        <%= render "layouts/menu" %>
      </div>

      <div id='yield'>
        <%= yield %>
      </div>

    </div>

  </body>
</html>
