<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>
      <div id='header'> 
        <%= link_to image_tag("icons/circle_question.png", options={id: 'icon_question'}), "welcome" %>
        <%#= image_tag("icons/circle_question.png", options={id: 'icon_question'}) %>
        Account Name             <!-- this needs to be a variable -->
        <%= link_to 'Log out',destroy_user_session_path,method: :delete%>
      </div>
      <%= render "layouts/menu" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id='yield'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
